<!DOCTYPE html>
<html>
  <head>
  <style type="text/css">
    
  </style>
    <meta http-equiv="refresh" content="60">
    <title>P'unk Site Stats</title>
    <link rel="stylesheet" href="stylesheets/main.css">
  </head>
  <body>
    <h2>------------------------------------------------------ IN TROUBLE ------------------------------------------------------</h2>
    <div class ="grid-container">
      {% for site in alert %}
        <div class = "box-alert">
          <h3>{{site.sname}}</h3>
              <table>
                <tr>
                  <td class= "changesize">LAST 4</td>
                  <td> </td>
                  <td>{{ site.lastFour }}</td>
                </tr>
                <tr>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                </tr>
                <tr>
                  <td class= "changesize">STATUS</td>
                </tr>
                <tr>
                  <td class= "changesize">CODE</td>
                  <td></td>
                  <td>{{ site.statusCode }}</td>
                </tr> 
                <tr>
                  <td>-----------</td>
                  <td>-----------</td>
                  <td>-----------</td>
                </tr>
                <tr>
                  <td class= "changesize2">{{ site.shortest }}</td>
                  <td class= "changesize2">{{ site.avg }}</td>
                  <td class= "changesize2">{{ site.longest }}</td>
                </tr>
              </table>
        </div>
      {% endfor %}
    <h2>-------------------------------------------------------- WARNING --------------------------------------------------------</h2>
    <div class ="grid-container">
      {% for site in warning %}
        <div class = "box-warning">
          <h3>{{site.sname}}</h3>
          <table>
            <tr>
              <td class= "changesize">LAST 4</td>
              <td> </td>
              <td>{{ site.lastFour }}</td>
            </tr>
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
            <tr>
              <td class= "changesize">STATUS</td>
            </tr>
            <tr>
              <td class= "changesize">CODE</td>
              <td></td>
              <td>{{ site.statusCode }}</td>
            </tr> 
            <tr>
              <td>-----------</td>
              <td>-----------</td>
              <td>-----------</td>
            </tr>
            <tr>
              <td class= "changesize2">{{ site.shortest }}</td>
              <td class= "changesize2">{{ site.avg }}</td>
              <td class= "changesize2">{{ site.longest }}</td>
            </tr>
          </table>
        </div>
      {% endfor %}
    </div>
  </body>
</html>